.contact {
  padding: 3rem 0; }
  @media (max-width: 480px) {
    .contact {
      width: 80%; } }
  .contact > .row {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 480px) {
      .contact > .row {
        flex-direction: column; } }
    .contact > .row .location_img {
      border: 1px solid #ccc;
      padding: 10px;
      position: relative;
      width: 680px;
      margin-bottom: 2rem; }
      .contact > .row .location_img .catch {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        background: white;
        padding: 1rem;
        border-radius: 10px;
        background: var(--main_color_dark);
        color: white; }
        @media (max-width: 480px) {
          .contact > .row .location_img .catch {
            top: 15%; } }
        @media (max-width: 420px) {
          .contact > .row .location_img .catch {
            top: 10%; } }
        @media (max-width: 370px) {
          .contact > .row .location_img .catch {
            top: 8%; } }
        .contact > .row .location_img .catch:after {
          content: '';
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          border-top: 10px solid var(--main_color_dark);
          border-left: 10px solid transparent;
          border-right: 10px solid transparent; }
      .contact > .row .location_img .closeup_btn {
        border: 1px solid #ddd;
        position: absolute;
        bottom: 10px;
        background: white;
        padding: 6px 10px;
        font-size: 14px;
        display: flex;
        align-items: center;
        font-weight: 600; }
      @media (max-width: 480px) {
        .contact > .row .location_img {
          width: 100%; } }
    .contact > .row .col .co_info_bar {
      margin-bottom: 14px;
      width: 280px;
      padding: 0 1rem;
      border-left: 4px solid #BEF264; }
      @media (max-width: 480px) {
        .contact > .row .col .co_info_bar {
          width: 240px; } }
      @media (min-width: 480px) {
        .contact > .row .col .co_info_bar {
          font-size: 18px;
          line-height: 1.7; } }
      .contact > .row .col .co_info_bar .subject {
        width: 480px; }
        @media (max-width: 480px) {
          .contact > .row .col .co_info_bar .subject {
            width: 250px; } }
      .contact > .row .col .co_info_bar .title {
        font-size: 14px;
        font-weight: 600; }
        @media (min-width: 480px) {
          .contact > .row .col .co_info_bar .title {
            font-size: 1rem; } }

.co_info_bar_2 {
  margin-bottom: 14px;
  width: 280px;
  height: 25px;
  padding: 0 1rem;
  border-left: 4px solid #BEF264; }
  @media (max-width: 480px) {
    .co_info_bar_2 {
      width: 240px; } }
  .co_info_bar_2 .title {
    font-size: 14px;
    font-weight: 600; }

.form_wrap {
  background: #E5E7EB;
  width: 680px;
  padding: 2rem; }
  @media (max-width: 480px) {
    .form_wrap {
      width: 100%;
      padding: 1rem; } }
  .form_wrap textarea {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 1rem;
    font-weight: 600; }
    .form_wrap textarea::placeholder {
      color: var(--main_color_light);
      letter-spacing: -1px;
      font-weight: 300;
      font-family: 'noto sans kr';
      font-size: 1rem; }

.form_wrap_inner {
  display: flex; }
  @media (max-width: 480px) {
    .form_wrap_inner {
      flex-direction: column; } }
  .form_wrap_inner .input_wrap {
    padding-right: 1rem;
    width: 100px; }

.add_file {
  padding: 10px 0;
  display: flex;
  align-items: center;
  margin-bottom: 1rem; }
  .add_file button {
    height: 30px; }
    .add_file button span {
      font-size: 1rem; }

.send_btn_wrap {
  width: 100%;
  margin: 2rem 0 0;
  display: flex;
  justify-content: flex-end; }

/*# sourceMappingURL=contact.css.map */
